body {
    /* background-color: rgb(217, 212, 212); */
    font-family: sans-serif;
}

.top {
    /* border: 1px solid red; */
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
    background-color: white;
}
button {
    color: orange;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    border: none;
    margin-bottom: 5px;
}

button:hover {
    background-color: orange;
    color: white;
}

.title {
    color: orangered;
    margin: 0;
    margin-bottom: 15px;
}

.main {
    /* border: 1px solid green; */
    width: 1200px;
    margin: 0 auto;
    padding: 5px 10px;
    background-color: white;
}

.recipe-card {
    display: inline-block;
    /* border: 1px solid red; */
    margin-right: 20px;
}

.dish {
    width: 300px;
    height: 350px;
    object-fit: cover;
    /* margin-bottom: 10px; */
}

.heading {
    font-size: 22px;
    background-color: orangered;
    padding: 8px;
}

a {
    color: white;
    text-decoration: none;
}